[tool.black]
line-length = 120
target-version = ["py38"]
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true

[tool.ruff]
line-length = 120
select = ["E", "W", "F", "I"]  # podstawowe błędy, warningi i importy
ignore = ["F841", "E741", "F821", "E402"]
exclude = ["__pycache__", ".venv", "build", "dist", "notebooks/"]
